/* *{
    box-sizing: border-box;
} */
li{
    list-style: none;
    text-align: left;
    margin-left: 3%;
}
body{
        
    margin: auto;
    background-color:  whitesmoke ;  
    background-size: 100%;
    max-width: 1024px;
    background-image: url(../src/images/fondo.png);
    
}

ul{
    list-style: none;
    margin-left: 0;
    padding-left: 2%;
}

.h4{
    margin:auto;   
}
.titulo
{
    margin: auto;
    margin-top: 5%;
    margin-bottom: -5%;
}

.principal_container
{
    width: 95%;
    border: 3px outset #286698;
    border-radius: 2% 30%;
    margin:auto;
    margin-top: 3%;   
  
    opacity: 80%;
    background-color: whitesmoke;
    box-shadow:0 0 0 0px #286698,
    0 10px 15px ;
    transition: all 450ms   
}
.principal_container:hover
{
    border: 6px inset #286698;
    width: 97%;
    opacity: 90%;
}

.container{
    margin-top:5%;
    width: 90%; 
    margin-left: 8%;  
    margin-bottom: 6%;     
}

.icono
{
    width: 40%;
}

.icono_lente{
    width: 70%;
    transition: all 450ms;
      ;
}
.icono_lente:hover{
    width: 73%;
}




.list_container {
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: row;
    text-align: center; 
    border-bottom: 1px solid; 
    width: 100%;  
    
    
}
.item{
  width: 50%;
  margin-right: 5%;
    
}
.item_nombre
{
  width: 20%;
  margin-right: 2%; 
  
}

.numeros
{
    display: flex;
    align-items: center;  
    margin-left: 13%;
    flex-direction: row;
    text-align: center; 
    width: 100%;  
}
.titulos
{
    display: flex;
    max-width: 90%; 
    
}
.titulo_numeros
{
   
    display: flex;  
    overflow:hidden;
    width: 96%;
    margin-left: 9%;
    margin-right: 1%;
    
}

.titulo_nombres{   
    
     
}

.titulo_numeros_individual{

    align-items: center;  
    margin-left: 12%;
    padding-left: 2%;    
    flex-direction: row;
    text-align: center; 
    width: 100%;    
    
}