/* *{
    box-sizing: border-box;
} */
li{
    list-style: none;
    text-align: left;
    margin-left: 3%;
}
body{
      
    margin: auto;
    background-color:  whitesmoke ;  
    background-size: 100%;
    max-width: 1024px;
    background-image: url(../src/images/fondo.png);
    max-height: 1920px;
}

ul{
    list-style: none;
    margin-left: 0;
    padding-left: 2%;
}

.h4{
    margin:auto;   
}
.titulo
{
    margin: auto;
    margin-top: 5%;
    margin-bottom: -5%;
    color: #072944;
    font-size: 30px;
}



.principal_container
{ position: relative; 
    width: 95%;
    border: 3px outset #286698;
    border-radius: 2% 30%;
    margin:auto;
    margin-top: 8%;     
    opacity: 80%;
    background-color: whitesmoke;
    box-shadow:0 0 0 0px #286698,
    0 10px 15px ;
    transition: all 450ms ;   
    height: auto;
    margin-bottom: 50px;
    min-height: 100%
    
   
}

.container_1{
   
}


.principal_container:hover
{
    border: 6px inset #286698;
    width: 97%;
    opacity: 90%;
    
}

.container{
    margin-top:5%;
    width: 90%; 
    margin-left: 8%;  
    margin-bottom: 6%;  
   
    
}

.icono
{
    width: 40%;
    max-width: 35px;
    
    
}
.loading{
width: 35%;
margin-top: 7%;



}
.icono_lente{
    width: 70%;
    transition: all 450ms;
    max-width: 65px;
      
}

.icono_flechaalta{
width: 50%;

}

.icono_flechamedia
{
    width: 41%;
    max-width: 50px;
    margin-left: 5%;
}





.list_container {
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: row;
    text-align: center; 
    border-bottom: 1px solid; 
    width: 100%;  
    max-width: 1024px;
    max-height: 50px;
    
    
}
.item{
  width: 50%;
  margin-right: 5%;
  max-height: 40px;
    
}
.item_nombre
{
  width: 20%;
  margin-right: 2%; 
  
}

.numeros
{
    display: flex;
    align-items: center;  
    margin-left: 13%;
    flex-direction: row;
    text-align: center; 
    width: 100%;  
}
.titulos
{
    display: flex;
    max-width:95%;    
    
}

.titulos_ult_semana
{
    display: flex;
    max-width:85%;    
    
}


.titulo_numeros
{
   
    display: flex;  
    overflow:hidden;
    width: 96%;
    margin-left:15%;
    color: #072944;
    
   
    
}

.titulo_nombres{   
    color: #072944;
    
}
.titulo_individual
{
    width: 120%;
    margin-top: 35%;
}

.titulo_numeros_individual{   
    
     
    width: 100%;      
    margin-top: 10px;
    padding-bottom: 3px;
   
 
   
}

/*.logo_div
{
    
    position: absolute;
 left: 0%;
    transition: all 450ms;   
    z-index: 10;  
   border: 1px solid #286698;
    width: 50%;
    display: block;
    padding-right: 0%;
    margin-right:0%; 
    object-fit: contain;
    padding-left: 0%;
    margin-right: 0;

}
.logo_div:hover
{
    transform: rotatez(-90deg);
  
}

.logo
{
display: block;
 width: 100%;
 object-fit: contain;
    
}
*/


.h4_titulo{
    text-align: center;
    height:2px;
    width:95%; 
    
  
     
}

.volverlink
{
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    color:#072944;
    
}

.volverlink_sync{
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    color:#072944;
    
}

.container_volver{
    display: flex;
    margin-bottom: -4%;
    margin-top: -4%;
}

.volver
{
    width: 57%;
    margin-bottom: -30px;
    margin: auto;
    margin-top: 9%;
    margin-bottom: 5%;
    
}

/*DASH SINCRONIZACION*/

.titulo_Nombre_Syncro
{
    
    
}

.titulo_Horas_Syncro{
   
}

.list_container_syncro
{
    display: flex;
    width: 55%;
    margin-left: 5%


}


.container_syncro{
    
    
}

.item_nombre_syncro
{
    width: 29%;
}

.numeros_syncro
{
 
}

.item_syncro{
    
    
      
}
.titulos_syncro
{
    display: flex;
    width: 58%;
    justify-content: space-around;
    margin-top: 9%;
    margin-left: 3%;
}

.item_nombres_syncro{
    width: 67%;
}

.titulo_Nombres_Syncro
{
  

}

/*    width: 41%;
    margin-left: -6%;*/